.chart__layer-bar rect {
    fill: #f9f9f9;
    stroke: none;
    /*stroke: #ccc;*/
    /*stroke-width: 2;*/
    /*stroke-dasharray: 10 5;*/
}

.chart__layer-bar--empty rect {
    fill: #f9f9f9;
    stroke: #ccc;
    stroke-width: 1;
    /*stroke-dasharray: 10 5;*/
}


.chart__layer-bar line {

}

.chart__layer-bar-label rect {
    fill: #000;
    stroke: #000;
}

rect.chart__layer-bar-red {
    fill: #f00;
    opacity: .1;
}

rect.chart__layer-bar-green {
    fill: #0f0;
    opacity: .1;
}